<h1>Exhibit</h1>

<ul>
  {{#each name}}
  	<li>
  		<p><span class="label">Title:</span> {{title}}</p>
      	<p><span class="label">Description:</span> {{description}}</p>
      	<p><span class="label">Created Date:</span> {{created_date}}</p>
      	<p><span class="label">Medium:</span> {{medium}}</p>
  	</li>
  {{/each}}
</ul>
