<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
    <img src="../images/Parthenon-128.png" width="30" height="30" class="d-inline-block align-top" alt=""> The Museum's Exhibition Management Page
    </a>
</nav>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-2 col-sm-2">
            {{!-- page to view everything in the db --}}
            <a class="btn btn-default" href="/blog">View your Database</a>
        </div>
        <div class="col-md-2 col-sm-2">
            {{!-- for something else --}}
            <a class="btn btn-default" href="/cms">Something</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="author-container">
                <h1>Artists</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID #</th>
                            <th>See Number of Pieces</th>
                            <th>New Art Piece</th>
                            <th>Delete Artist</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{{#each artists}}
                    	<tr>
                    		{{!-- {{#each artists}} --}}
                    		<td>
								{{name}}
                    		</td>
                    		<td>
                    			{{id}}
                    		</td>
                    		<td>
                    			{{Artworks.length}}
                    		</td>
                    		<td>
                    			{{!-- need a route for updating --}}
                    			<a href="cms?artist_id=">Add a New Content for this Artist</a>
                    		</td>
                    		<td>
                    			<a href="#">Delete Artist from Database</a>
                    		</td>
                    		{{!-- {{/each}} --}}
                    	</tr>
                    	{{/each}}
                        <tr id="form-row">
                            <form id="enterArtist">
                                <td colspan="4">
                                    <input placeholder="Enter a name" id="artistName" type="text" />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success">Add Artist</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{!-- <script src="js/author.js" type="text/javascript"></script> --}}
