<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <header class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Global Beacon</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link active" href="/login">Login</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Contact Us</a>
                    </nav>
                </div>
            </header>
            <main role="main" class="inner cover">
                <h1 class="cover-heading">Sign Up Form</h1>
                <form class="form my-2" method="post">
                    <div class="form-group">
                        <label for="email-input">Email address</label>
                        <input type="email" class="form-control" id="email-input" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password-input">Password</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Password">
                    </div>
                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span> <span class="msg"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <br />
                <p><a href="/login">Or Log In</a></p>
            </main>
        </div>
    </div>
</div>