html, body {
	box-sizing: border-box;
	height: auto;
	width: 100%;
	background-color: #333;
}

#editArtistContent {
	height: 600px;
	width: 1000px; 
	background-color: lightblue; 
	overflow: auto;
	border-radius: 5px;
}

