html, body {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    background-color: #333;
}
/* View Artist Content Styling */
.profilePhoto {
    height: 140px;
    width: 140px;
    float: left;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
/*a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}*/
.edit {
    float: right;
    color: white !important;
    background-color: #eb2678;
    border-color: #eb2678;
    font-weight: bold;
}
.delete {
    float: right;
    color: white !important;
    background-color: #CC2936;
    border-color: #CC2936;
    font-weight: bold;
}
.artworkTitle {
    color: black;
    margin-top: 0.3em;
    margin-left: 30%;
}
.artInfo {
    color: black !important;
    margin-left: 30%;
}
.resultsField {
    background-color: #eb2678;
    overflow: auto;
    height: 480px;
}
.formField {
    background-color: #61C9A8;
    overflow: auto;
    height: 480px;
}